inst/XML_specs/weights.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- Weights -->
	<xsd:element name="Weights" type="WeightsType"/>
<!-- Weights Type -->
	<xsd:complexType name="WeightsType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NbSample" type="xsd:positiveInteger"/>
			<xsd:element name="Filename" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
<!-- End Weights Type -->

<!-- End Weights -->
</xsd:schema>
